<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="icon" href="/static/logo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/mobile-styles.css" media="screen and (max-width: 600px)">
</head>
<body>
    <h1>Куда мы лезем? Брысь от сюда</h1>
    <p>
        Доступ к сайту напрямую закрыт, используйте аналог на разрешенном ресурсе.
    </p>
    <div class="footer">
        <r>created with love by echpohmak v.1.2.2</r>
    </div>
</body>
</html>