<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная</title>
    <link rel="icon" href="/static/logo.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/mobile-styles.css" media="screen and (max-width: 600px)">
</head>
<body>
    <h1>Добро пожаловать на сайт для администраторов!</h1>
    <p>Выбери раздел:</p>
    <a href="/cars" class="card">
        <img src="/static/images/icons/car-icon.png" alt="Car Icon">
        <h2>Автомобили</h2>
        <p>Полный список транспорта</p>
    </a>
    <a href="/weapons" class="card">
        <img src="/static/images/icons/weapon-icon.png" alt="Weapon Icon">
        <h2>Оружие</h2>
        <p>Список оружия из панели</p>
    </a>
    <a href="/skins" class="card">
        <img src="/static/images/icons/skin-icon.png" alt="Skin Icon">
        <h2>Скины</h2>
        <p>Фотографии всех скинов из панели</p>
    </a>
    <a href="/mappings" class="card">
        <img src="/static/images/icons/mapping-icon.png" alt="Mapping Icon">
        <h2>Маппинги</h2>
        <p>Маппинги для МП и прочего</p>
    </a>
    <div class="footer">
        <r>created with love by echpohmak v.1.2.2</r>
    </div>
</body>
</html>